

@model IEnumerable<Item>

@{
    ViewData["Title"] = "Index";
}

@*<partial name="_Notification" />*@

   @*<h1>Index Item</h1>*@

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Item List</h2>
            </div>   
            <div class="col-6 text-end">
                <a asp-controller="Item" asp-action="CreateUpdate" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>
                    Create New Item
                </a> 
            </div>
        </div>
    </div>

    <br />

    <table class="table table-bordered table-striped" stype="width:100%">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Item Name</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Price</th>
           @*     <th>Created By</th>
                <th>Created Date</th>
                <th>Updated By</th>
                <th>Updated Date</th>*@
                <th>Active</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Item" asp-action="CreateUpdate" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                                Edit
                            </a>
                            <a asp-controller="Item" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>
                                Delete
                            </a>
                        </div>
                    </td> 
                    <td>@obj.Name</td>
                    <td>@obj.Description</td>
                    <td>@obj.Unit</td>
                    <td>@obj.Price</td>
               @*     <td>@obj.CreatedBy</td>
                    <td>@obj.CreatedDate</td>
                    <td>@obj.UpdatedBy</td>
                    <td>@obj.UpdatedDate</td>*@
                    <td>
                        @if(obj.IsActive == true)
                        {
                            <input class="form-check-input" type="checkbox" checked disabled/>
                        }

                        else
                        {
                             <input class="form-check-input" type="checkbox" disabled/>
                        }

                    </td>
                    
                </tr>
            }
        </tbody>
    </table>